/* .remove-button-space {
    background-color: aqua;
    min-height: 10rem;
} */

.nav-link {
    color: #9C0F48; 
    font-weight: bold;
}

.one-product-price {
    color: #b95d1c;
    font-weight: bold;
    font-size: 1.5rem;
}