.card {
    width: 11rem;
}

.product-btn {
    background-color: #9C0F48;
    border: #9C0F48;
}

.product-btn:hover {
    background-color: #D67D3E;  
}

.product-price {
    color: #D67D3E;
    font-weight: bold;
}